COMPOSE_FILE=docker-compose.yml:dev.yml:port.yml

FRONTEND_PORT=4000


# DB

DB_PASS=changeme
DB_DATABASE=sky_map
DB_USER=sky
DB_EXPOSE_PORT=3306
DB_HOST=db

# API
API_HOST=api
API_PORT=8000
